<% if flash[:error_messages] %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|%>
        <li><%= msg %>  </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:comment] %>
  <div><span><%= flash[:comment] %></span></div>
  <hr>
  <div><span><%= flash[:flash_name] %></span></div>
  <hr>
  <div><span><%= flash[:flash_param] %></span></div>
  <hr>
<% end %>

<% if session[:test_session] %>
<hr>
sessionの値 : <span><%= session[:test_session] %></span>
<% end %>

<% if cookies[:test_cookie] %>
<hr>
cookieの値 : <span><%= cookies[:test_cookie] %></span>
<% end %>

<hr>


<%= form_for(@comment) do |f| %>
  <div class="form-group">
    <%= f.label :title, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  <div>

  <div class="form-group">
    <%= f.label :title, 'コメント内容' %>
    <%= f.text_field :comment, class: 'form-control' %>
  </div>

  <%= f.submit '編集を終える', class: 'btn btn-primary' %>

<% end %>


<%= @comment %>
<%= @test %>
